{%extends 'base.html'%}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
    <title>Contact Us</title>
    <center>
    <h1>Contact Us</h1>
        <p>You can reach us at:</p>
            <address>
                Lidiya's Store<br>
                123 Jam nagar street<br>
                kochi, Kerala, 683501<br>
                Phone: 9090909090<br>
                Email: <a href="mailto:info@lidiyasstore.com">info@lidiyasstore.com</a><br><br><br><br><br><br><br>
            </address>
    <h2>Follow Us on Social Media</h2>
    <div class="social-media">
    <a href="https://www.facebook.com/lidiyasstore" target="_blank">
        <i class="fab fa-facebook-square"></i> Facebook
    </a>
    <a href="https://twitter.com/lidiyasstore" target="_blank">
        <i class="fab fa-twitter-square"></i> Twitter
    </a>
    <a href="https://www.linkedin.com/company/lidiyasstore" target="_blank">
        <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a href="https://www.instagram.com/lidiyasstore" target="_blank">
        <i class="fab fa-instagram-square"></i> Instagram
    </a>
    </div>
    </center>




{% endblock %}

