<footer class="footer bg-dark text-white mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p>© 2024 Lidiya's Store. All Rights Reserved.</p>
        <p>
          <a href="/about-us/" class="text-white">About us</a> |
          <a href="/privacy-policy/" class="text-white">Privacy policy</a> |
          <a href="/terms-&-services/" class="text-white">Terms & services</a> |
          <a href="contact_us.html" class="text-white">Contact Us</a>
        </p>
      </div>
    </div>
  </div>
</footer>
